{include file="index/include/header" /}
<div class="left">

    <div id="blogtitle" style="width:100%;margin:10px auto; text-align:center;font-size:20px"></div>

    <!--note-->
    <div class="note" style="margin:35px auto">
        <video id="bloginner" controls style="width:100%;" src=""></video>
    </div>
    <div class="note" style="border-width:0 0 1px 0;padding-bottom:10px; border-style:solid; border-color:blue; margin:0px auto; width:80%;">最新评论（12）</div>
    <!--talk 评论-->
    <div class="note" style="margin:30px auto;width:80%; " >
        <div id="talkinner">
           
        </div>
        <div class="">

            <!-- 加载编辑器的容器 -->
            <script id="container" name="content" type="text/plain">

            </script>
            <button type="button" onclick="updata('none')" style="margin-top :20px;" class="btn btn-default btn-lg btn-block">上传</button>
        </div>
    </div>
</div>
<!--left结束-->
<script>
    var ue2 =null;
    var ue = UE.getEditor('container', {
        initialFrameHeight: 200,
        toolbars: [
            [
                'undo', //撤销
                'redo', //重做
                'bold', //加粗
                'indent', //首行缩进
                'italic', //斜体
                'underline', //下划线
                'strikethrough', //删除线
                'subscript', //下标
                'horizontal', //分隔线
                'cleardoc', //清空文档
                'insertcode', //代码语言
                'fontfamily', //字体
                'fontsize', //字号
                'link', //超链接
                'emotion', //表情
                'spechars', //特殊字符
                'justifyleft', //居左对齐
                'justifyright', //居右对齐
                'justifycenter', //居中对齐
                'justifyjustify', //两端对齐
                'forecolor', //字体颜色

            ]
        ]
    });
    if (GetQueryString("blogid") == null) {
        alert("未获取到文章id");
        window.location.href = "/tp50/public/blog/index/review?viewname=index";
    }
    $blogid = GetQueryString("blogid");
    //获取本篇博文信息
    //post 请求
    $.post("/tp50/public/blog/index/select", {
        "tablename": "t_blog", //表名
        "sql": '{"id":"=,' + $blogid + '"}'
    }, function(result) {
        //显示博文原信息
        $("#blogtitle").html(result[0].title);
        $("#bloginner").attr("src",result[0].content);
        uParse('#bloginner', {
            rootPath: '/tp50/public/static/ueditor/'
        })

    });
    getcommet();
    function getcommet(){
        $blogid = GetQueryString("blogid");
        //post 请求
        $.post("/tp50/public/blog/index/select", {
            "tablename": "t_comment", //表名
            "sql": '{"blogId":"=,' + $blogid + '","status":"=,0"}', //查询的条件
            "limit":  ''//分页
        }, function(result) {
            //回掉函数处理，输出结果
            //如果没有获取错误码
            if (result.code != 401) {
                $html="";
                //遍历结果处理数据进行输出
                result.forEach(function(item) {
                    if(item.toid==0){
                        $html += "<div id='commetlist"+item.id+"' class='alert alert-success' role='alert'><div>"+item.userName+":</div>"+
                        "<div style='margin :10px 30px;'>"+item.content+"</div><div style='margin :10px 0px;'><div style='float:right' onclick='commentpannel("+item.id+",this)'>回复</div><div style='clear:both'></div></div></div>";
                    }
                }); 
                $("#talkinner").html($html);
                result.forEach(function(item) {
                    if(item.toid!=0){
                        $html = "<div style='margin :0 30px;'>"+item.userName+":</div>"+
                        "<div style='margin :10px 60px;'>"+item.content+"</div>"; 
                        $("#commetlist"+item.toid).append($html);
                    }
                });
               
            } else {
                alert(result.info);
            }
        });
    }

    function updata(toid) {
        $blogid = GetQueryString("blogid");
        $userName = "游客";
        $content = ue.getContent();
        $status = 0;
        $toid = "";
        if (toid !== "none"){
            $content = ue2.getContent();
            $toid = toid;
        }
        //post 请求上传评论
        $.post("/tp50/public/blog/index/add", {
            "tablename": "t_comment", //表名
            "data": {
                "blogId": $blogid,
                "userName": $userName,
                "content": $content,
                "status": $status,
                "toid": $toid
            }, //上传数据
        }, function(result) {
            //如果没有获取错误码
            if (result.code != 401) {
                alert(result.info);
                getcommet();
            } else {
                alert(result.info);
            }

        });
    }

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    function commentpannel(commetid,obj) { console.log("断点1"+$("#commetpannel").lenth);
        if($("#commetpannel").length!=0){
            // $("#commetpannel").empty();
            $("#commetpannel").remove();
            UE.getEditor("containercommet").destroy();
            $(obj).html("回复");
            ue2 =null;
            return ;
        }
        $html = "<div id='commetpannel'><!-- 加载编辑器的容器 --><script id='containercommet' name='content' type='text/plain'/>"+'<button type="button" onclick="updata('+commetid+')" style="margin-top :20px; " class="btn btn-default btn-lg btn-block ">上传</button></div>';
        console.log("断点2");
        $("#commetlist"+commetid).append($html); 
        console.log("断点3");
        ue2 = UE.getEditor('containercommet', {
        initialFrameHeight: 200,
        toolbars: [
            [
                'undo', //撤销
                'redo', //重做
                'bold', //加粗
                'indent', //首行缩进
                'italic', //斜体
                'underline', //下划线
                'strikethrough', //删除线
                'subscript', //下标
                'horizontal', //分隔线
                'cleardoc', //清空文档
                'insertcode', //代码语言
                'fontfamily', //字体
                'fontsize', //字号
                'link', //超链接
                'emotion', //表情
                'spechars', //特殊字符
                'justifyleft', //居左对齐
                'justifyright', //居右对齐
                'justifycenter', //居中对齐
                'justifyjustify', //两端对齐
                'forecolor', //字体颜色

            ]
        ]
    });
    $(obj).html("关闭");
    }
</script> {include file="index/include/right" /} {include file="index/include/footer" /}